.my-navbar{
  height: 100%;
  background-color: #2C3E50 ;
}



.navbar-list{
  padding-top: 5rem;
  color: #FFFFFF;
}

.nav-icons{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
 margin: 0 0 1rem 0;
 padding: 1rem;
text-decoration: none;
 text-align: center;
 cursor: pointer;
 color: #FFFFFF ;
 
}

.nav-icons:hover{

  background-color: #1D2B38 ;
  color: #FFFFFF;
  
  }

  @media screen and (max-width: 1300px) {
    .text{
      display: none;
    }
  }

  .active{
    background-color: #1D2B38  ;
  color: #FFFFFF;
  text-decoration: none;
  }
  
